html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


header{
    display: inline-block;
    float: left;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 29px 38px;
}

nav{
    width: 100%;
    /* height: 87px; */
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

ul li{
    display: inline-block;
    margin-right: 38px;
}

ul li a{
    margin: 29px 0;
    display: block;
    float: left;
    text-decoration: none;
    color: white;
}

#home{
    height: 1117px;
    background: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
}

#about{
    height: 1230px;
    background: white;
    display: inline-block;
    width: 100%;
}

#services{
    height: 1030px;
    background: white;
    display: inline-block;
    width: 100%;
}

#contact{
    height: 1230px;
    background: rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }

#landingPage{
    margin-top: 142px;
    margin-left: 96px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 200px;
    font-weight: 700;
    float: left;
    line-height: 242.05px;

    animation-name: fadeInAnimation;
    animation-duration: 12s;
}

#mac{
    height: 395px;
    width: 734px;
    float: right;
    margin-top: 515px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 3,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.container{
    display: flex;
}

#stairs{
    float: left;
    height: 726px;
    width: 572px;
    margin-left: 89px;
    margin-top: 236px;
    margin-right: 86px;  
}

.aboutUs h1{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin-top: 235px;
    margin-left: 86px;
}

#content{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

#services h1{
    margin-left: 82px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 100px;
    font-weight: 700;
}


#contact h1{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin-top: 101px;
    text-align: center;
    color: white;
}

.flexcards{
    /* max-height: 433px; */
    display: flex;
    overflow-x: auto;
}

#card1{
    display: inline-block;
    height: 423px;
    width: 599px;
    margin-left: 82px;
    margin-top: 53px;
    border: 2px solid rgb(0, 0, 0); 
    /* border-color: black; */
    background: rgb(255, 255, 255);
}

#card1:hover{
    background-color: black;
    color: white;
    /* opacity: 0.6; */
    transition: 0.3s;
}

#card1-title{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 44px;
    margin-top: 45px;
}

#card1-cont{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 44px;
    margin-right: 30px;
    margin-top: 15px;
}

#card2{
    display: inline-block;
    height: 423px;
    width: 599px;
    margin-left: 66px;
    margin-top: 53px;
    border: 2px solid rgb(0, 0, 0); 
    /* border-color: black; */
    background: rgb(255, 255, 255);
}

#card2:hover{
    background-color: black;
    color: white;
    /* opacity: 0.6; */
    transition: 0.3s;
}

#card2-title{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 44px;
    margin-top: 45px;
}

#card2-cont{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 44px;
    margin-right: 30px;
    margin-top: 15px;
}

#card3{
    display: inline-block;
    height: 423px;
    width: 599px;
    margin-left: 66px;
    margin-top: 53px;
    border: 2px solid rgb(0, 0, 0); 
    /* border-color: black; */
    background: rgb(255, 255, 255);
}

#card3:hover{
    background-color: black;
    color: white;
    /* opacity: 0.6; */
    transition: 0.3s;
}

#card3-title{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 44px;
    margin-top: 45px;
}

#card3-cont{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 44px;
    margin-right: 30px;
    margin-top: 15px;
}

#linebr{
    width: 1772px;
    height: 10px;
    color: black;
    background-color: black;
    margin-left: 89px;
    margin-top: 100px;
    border-radius: 8px;
}

#fname{
    margin-top: 57px;
    margin-left: 140px;
    width: 1372px;
    height: 72px;
    padding: 22px 13px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

#lname{
    margin-top: 35px;
    margin-left: 140px;
    width: 1372px;
    height: 72px;
    padding: 22px 13px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

#email{
    margin-top: 35px;
    margin-left: 140px;
    width: 1372px;
    height: 72px;
    padding: 22px 13px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

#reason{
    margin-top: 35px;
    margin-left: 140px;
    width: 1372px;
    height: 72px;
    padding: 22px 13px;
    border-width: 1px;
    border-color: #FFFFFF;
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

#submit{
    margin-top: 35px;
    margin-left: 140px;
    width: 260.75px;
    height: 50px;
    background: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
}
Footer
